.text-shadow {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-loading-bar {
  width: 100%;
  animation: loading-bar 1.5s linear infinite;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 94%;
  }
}

.animate-gradient-x {
  background-size: 1000% 1000%;
  animation: gradient-x 45s infinite;
}

@keyframes epic-glow {
  0%, 100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #f0f, 0 0 30px #0ff;
  }
  50% {
    text-shadow: 0 0 20px #ff0, 0 0 30px #f00, 0 0 40px #00f;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: .5px #161616; /* ancho y color del borde */
    text-stroke: .5px #161616;
  }
}