.text-shadow {
  text-shadow: 0px 0px 3px #000;
}

@keyframes pokeball-shake {
  0% { transform: rotate(20deg) translateX(4px); }
  20% { transform: rotate(-15deg) translateX(-7px); }
  40% { transform: rotate(15deg) translateX(3px); }
  60% { transform: rotate(5deg) translateX(1px); }
  80% { transform: rotate(15deg) translateX(3px); }
  100% { transform: rotate(20deg) translateX(4px); }
}
.animate-spin-slow {
  animation: pokeball-shake 1.75s ease-out infinite;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%) scaleX(0);
  }
  40%{
    transform: translateX(-5%) scaleX(.7);
  }
  60%{
    transform: translateX(5%) scaleX(.7);
  }

  80%{
    transform: translateX(47.5%) scaleX(0.1);
  }

  100% {
    transform: translateX(100%) scaleX(0);
  }
}

.animate-loading-bar {
  width: 100%;
  border-radius: 100px;
  animation: loading-bar 2s linear infinite;
}

.sticky-header {
  will-change: transform, opacity, backdrop-filter;
}

/* Estiliza la scrollbar para navegadores compatibles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

@keyframes marquee1 {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes marquee2 {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes marquee3 {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee1 {
  animation: marquee1 70s linear infinite;
}
.animate-marquee2 {
  animation: marquee2 70s linear infinite reverse;
}
.animate-marquee3 {
  animation: marquee3 120s linear infinite;
}


/* EASTER EGG */
.diamond-rain {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
}

.diamond {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, #ffd700, #e0e0ff);
  transform: rotate(45deg);
  opacity: 0.8;
  animation: fall linear infinite;
  transform: translateY(-100%)
}

@keyframes fall {
  0% {
    transform: translateY(-100%) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(var(--translateY, 500px)) rotate(45deg);
    opacity: 0;
  }
}